.react-tel-input {
  & .form-control {
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    transition: all 0.3s ease;
    color: #fff;
    width: 100%;
    padding-left: 55px;
    height: 56px;

    @media screen and (max-width: 744px) {
      height: 52px;
    }

    &::placeholder {
      color: #c0c0c0;
    }

    &.default {
      padding-left: 16px;
    }

    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);

      .invalid &.invalid-field {
        border: 1px solid #bd3333;
        box-shadow: 0px 0px 10px 0px rgba(132, 14, 14, 0.41);
      }

      & + .flag-dropdown {
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-right: none;
      }
    }
  }

  & .flag-dropdown {
    background: transparent;
    border: none;
    padding: 5px;

    &.open,
    &.open .selected-flag {
      background: transparent;
    }

    .invalid &.invalid-field {
      border: 1px solid #bd3333;
      border-right: none;
      box-shadow: none;
    }
  }

  & .country-list {
    margin: 15px 0 10px -6px;
  }

  & .selected-flag:hover,
  & .selected-flag:focus {
    background: transparent;
  }
}
